h1{
	color: red;
}
h2{
	background-color: green;
	color: red;
}
h3{
	background-color: green;
	color: white;
}
.parr1 {
	color: black;
	text-align: left;
}
.parr2 {
	color: black;
	text-align:  center;
}
.parr4{
	color: black;
	
}
.parr5{
	color: black;
}
.his2 {
	color: red;
	font-size: 30px;
	strong: ;
}
.his1 {
	background-color: yellow;
	color: red;
}
.lib2 {
	background-color: gray;
	color: white;
}
.pa1{
	background-color: red;
}
.gris2{
	background-color: green;
}
.gris3{
	background-color: black;
	color: white;
}
.libr4{
	background-color: gray;
	color: black;
}
.l1{
	color: #868383;
}
h4{
	background-color: blue;
	color: white;
}
.ñu1{
	background-color: #9CEC94;
	font-size: 20px;
}
.ñu1{
	text-align: center;
	color: #479956;
}
img{
	width: 100px; 
	height:80px;
}
.ñu4{
	color: blue;
	background-color: black;
}
.ri1{
	background-color: black;
	color: white;
}
.ñ5{
	color: red;
}
.ñ2{
	border: 1px solid white;
	background-color: #FFF000;
}
.next1{
	color: yellow;
}
.next2{
	color: blue;
}

















